body {
font-family: "Inter Tight", sans-serif;
}
.page-hero {
display: flex;
justify-content: space-between;
align-items: center;
width: 1280px;
height: 796px;
background: #576f35;
}

.hero-container {
    width: 50%;
}

.main-header {
margin-top: 0;
margin-right: 38px;
margin-bottom: 128px;
margin-left: 100px;
padding-top: 232px;
font-weight: 600;
font-size: 76px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
}

.hero-text {
margin-top: 52px;
margin-right: 38px;
margin-left: 100px;
max-width: 472px;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: #fbfbfb; 
}

.hero-conteiner-img {
    margin-right: 0 ;
    width: 50%;
    background: rgba(20, 20, 20, 0.2), url("path_to_image");
}


